task-3/BrAIny Buddy - Main Bot v2.json
{
  "name": "BrAIny Buddy - Main Bot v2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "id": "e3ddd45d-0a5f-4268-a2ff-acabbf598f9e",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        784
      ],
      "webhookId": "cd761710-49b8-47b0-bb8b-5f152c701c7b",
      "credentials": {
        "telegramApi": {
          "id": "ihPWnYRp34xU7q2q",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst normalized = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  let eventType = 'unknown';\n  let chatId = null;\n  let userId = null;\n  let text = '';\n  let callbackData = '';\n  let callbackQueryId = '';\n  let firstName = '';\n  \n  if (data.message) {\n    eventType = 'message';\n    chatId = data.message.chat?.id || null;\n    userId = data.message.from?.id || null;\n    text = data.message.text || '';\n    firstName = data.message.from?.first_name || '';\n  } else if (data.callback_query) {\n    eventType = 'callback_query';\n    chatId = data.callback_query.message?.chat?.id || null;\n    userId = data.callback_query.from?.id || null;\n    callbackData = data.callback_query.data || '';\n    callbackQueryId = data.callback_query.id || '';\n    firstName = data.callback_query.from?.first_name || '';\n  }\n  \n  normalized.push({\n    json: {\n      eventType,\n      chatId,\n      userId,\n      text,\n      callbackData,\n      callbackQueryId,\n      firstName\n    }\n  });\n}\n\nreturn normalized;"
      },
      "id": "4323ed19-b12a-43d0-8dc5-c841ba601776",
      "name": "Normalize Telegram Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        784
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "start"
            },
            {
              "conditions": {
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "/help",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "help"
            },
            {
              "conditions": {
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "/learn ",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  },
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "http",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "learnWithUrl"
            },
            {
              "conditions": {
                "combinator": "or",
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "/learn",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "/learn ",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "learnNoUrl"
            },
            {
              "conditions": {
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "/quiz",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "quiz"
            },
            {
              "conditions": {
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callbackData }}",
                    "rightValue": "topic:",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "topicCallback"
            },
            {
              "conditions": {
                "combinator": "and",
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callbackData }}",
                    "rightValue": "answer:",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "answerCallback"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "fallback"
        }
      },
      "id": "ce3e59db-c883-48fa-98b1-7c20b748ee2d",
      "name": "Command Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        688,
        688
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "Welcome to BrAIny Buddy.\n\nSend /learn <url> to summarize a learning material.\nSend /quiz to practice saved topics.",
        "additionalFields": {}
      },
      "id": "53f32241-57d9-450f-bb95-f9d7769ab413",
      "name": "Send Welcome",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        912,
        208
      ],
      "webhookId": "c11cc05c-7562-4f92-bbec-4bea0440b3ad",
      "credentials": {
        "telegramApi": {
          "id": "ihPWnYRp34xU7q2q",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst text = item.text || '';\n\nconst urlRegex = /(https?:\\/\\/[^\\s]+)/;\nconst match = text.match(urlRegex);\nconst url = match ? match[1] : '';\n\nreturn [{\n  json: {\n    url,\n    chatId: item.chatId,\n    userId: item.userId,\n    firstName: item.firstName\n  }\n}];"
      },
      "id": "24532fcc-8dd8-43b2-a4f6-37a229100a04",
      "name": "Extract URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        592
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          },
          "timeout": 30000
        }
      },
      "id": "92392f60-8cd3-4e70-9343-1ff2f6010fda",
      "name": "Fetch URL Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1136,
        592
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\n\nif (!input || !input.json) {\n  throw new Error('Clean HTML Content received no input item');\n}\n\nconst data = input.json;\n\nconst url =\n  data.url ||\n  $('Extract URL').first().json.url;\n\nlet html =\n  data.body ||\n  data.data ||\n  data.html ||\n  data.response ||\n  data.text ||\n  '';\n\nif (typeof html !== 'string') {\n  html = JSON.stringify(html);\n}\n\nlet title = '';\nconst titleMatch = html.match(/<title[^>]*>([\\s\\S]*?)<\\/title>/i);\nif (titleMatch) {\n  title = titleMatch[1];\n}\n\nlet content = html\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n  .replace(/<svg[\\s\\S]*?<\\/svg>/gi, ' ')\n  .replace(/<nav[\\s\\S]*?<\\/nav>/gi, ' ')\n  .replace(/<header[\\s\\S]*?<\\/header>/gi, ' ')\n  .replace(/<footer[\\s\\S]*?<\\/footer>/gi, ' ')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/g, ' ')\n  .replace(/&amp;/g, '&')\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/&quot;/g, '\"')\n  .replace(/&#39;/g, \"'\")\n  .replace(/\\s+/g, ' ')\n  .trim();\n\ntitle = title\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nif (!content) {\n  throw new Error('No readable content could be extracted from the fetched URL');\n}\n\nreturn [\n  {\n    json: {\n      url,\n      chatId: $('Extract URL').first().json.chatId,\n      userId: $('Extract URL').first().json.userId,\n      firstName: $('Extract URL').first().json.firstName,\n      title: title || url,\n      content: content.slice(0, 12000),\n    },\n  },\n];\n"
      },
      "id": "de8793d2-fe1f-416b-bfdf-1e04a6f7e8e0",
      "name": "Clean HTML Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        592
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are the Teacher role in BrAIny Buddy, an AI learning assistant.\n\nAnalyze the provided learning material and return only raw valid JSON.\nDo not use Markdown.\nDo not wrap JSON in code fences.\nDo not include commentary before or after the JSON.\n\nInput:\nURL: {{ $json.url }}\nExtracted title: {{ $json.title }}\nContent:\n{{ $json.content }}\n\nReturn exactly this JSON shape:\n{\n  \"title\": \"string\",\n  \"summary\": \"string\",\n  \"keyPoints\": [\"point 1\", \"point 2\", \"point 3\", \"point 4\", \"point 5\"],\n  \"concepts\": [\"concept 1\", \"concept 2\"],\n  \"difficulty\": \"beginner\"\n}\n\nRules:\n- keyPoints must contain 5 to 7 specific strings.\n- concepts must be an array of strings.\n- difficulty must be one of: beginner, intermediate, advanced.\n- The summary must be specific to the submitted URL content.",
        "options": {
          "systemMessage": "You are a helpful teacher assistant that analyzes learning materials and returns structured JSON data."
        }
      },
      "id": "f406924f-0266-404e-bd72-077c17d989ca",
      "name": "Teacher Agent - Summarize Material",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1584,
        592
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "917ff624-9042-40bb-b44c-2855520142e9",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1872,
        816
      ],
      "credentials": {
        "openAiApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst aiItem = items[0].json;\n\nlet rawOutput = aiItem.output || aiItem.text || aiItem.response || aiItem.result || aiItem.content || '';\n\nif (typeof rawOutput === 'object') {\n  rawOutput = JSON.stringify(rawOutput);\n}\n\n// Strip markdown code fences\nrawOutput = rawOutput.replace(/^```json\\s*/i, '').replace(/```\\s*$/, '');\n\n// Find first JSON object\nconst jsonMatch = rawOutput.match(/\\{[\\s\\S]*\\}/);\nif (!jsonMatch) {\n  throw new Error('No JSON object found in AI output');\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonMatch[0]);\n} catch (e) {\n  throw new Error('Failed to parse JSON: ' + e.message);\n}\n\n// Validate and normalize\nconst title = parsed.title || 'Untitled';\nconst summary = parsed.summary || 'No summary available';\nconst keyPoints = Array.isArray(parsed.keyPoints) ? parsed.keyPoints : [];\nconst concepts = Array.isArray(parsed.concepts) ? parsed.concepts : [];\nlet difficulty = parsed.difficulty || 'intermediate';\n\nif (!['beginner', 'intermediate', 'advanced'].includes(difficulty)) {\n  difficulty = 'intermediate';\n}\n\nreturn [{\n  json: {\n    title,\n    summary,\n    keyPoints,\n    concepts,\n    difficulty\n  }\n}];"
      },
      "id": "887c3865-c67f-49bf-aef6-3e4d4abf55b9",
      "name": "Parse Teacher JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        592
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\n\nif (!input || !input.json) {\n  throw new Error('Prepare Material Data received no input item');\n}\n\nconst teacher = input.json;\nconst cleaned = $('Clean HTML Content').first().json;\n\nconst now = new Date().toISOString();\nconst materialId = `LM-${Date.now()}`;\n\nconst keyPoints = Array.isArray(teacher.keyPoints) ? teacher.keyPoints : [];\nconst concepts = Array.isArray(teacher.concepts) ? teacher.concepts : [];\n\nconst keyPointsText = keyPoints.length\n  ? keyPoints.map(point => `• ${point}`).join('\\n')\n  : 'No key points generated.';\n\nconst conceptsText = concepts.length\n  ? concepts.map(concept => `• ${concept}`).join('\\n')\n  : 'No concepts generated.';\n\nreturn [\n  {\n    json: {\n      materialId,\n      userId: cleaned.userId,\n      chatId: cleaned.chatId,\n      url: cleaned.url,\n      title: teacher.title || cleaned.title || cleaned.url,\n      content: cleaned.content,\n      summary: teacher.summary,\n      keyPointsJson: JSON.stringify(keyPoints),\n      conceptsJson: JSON.stringify(concepts),\n      keyPointsText,\n      conceptsText,\n      difficulty: teacher.difficulty || 'intermediate',\n      addedAt: now,\n    },\n  },\n];\n"
      },
      "id": "da57d12e-53db-4ffb-b15c-6b2cad213186",
      "name": "Prepare Material Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        592
      ]
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "OucbL9ApEovEdnow",
          "mode": "list",
          "cachedResultName": "learning_materials",
          "cachedResultUrl": "/projects/ctLX77vBblhMtYP5/datatables/OucbL9ApEovEdnow"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "materialId": "={{ $json.materialId }}",
            "userId": "={{ $json.userId }}",
            "chatId": "={{ $json.chatId }}",
            "url": "={{ $json.url }}",
            "title": "={{ $json.title }}",
            "content": "={{ $json.content }}",
            "summary": "={{ $json.summary }}",
            "keyPointsJson": "={{ $json.keyPointsJson }}",
            "conceptsJson": "={{ $json.conceptsJson }}",
            "difficulty": "={{ $json.difficulty }}",
            "addedAt": "={{ $json.addedAt }}"
          }
        },
        "options": {}
      },
      "id": "5e49055e-c0e5-42ef-93b3-8fbc8d483b59",
      "name": "Save to learning_materials",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2384,
        592
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "Usage: /learn https://example.com/article",
        "additionalFields": {}
      },
      "id": "11de7384-0fb7-447b-817b-4d63ef1e7cbb",
      "name": "Send Learn Usage",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        912,
        400
      ],
      "webhookId": "273afe8b-ce6a-4aea-bcf6-644ea2274eab",
      "credentials": {
        "telegramApi": {
          "id": "ihPWnYRp34xU7q2q",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "I didn't understand that command. Try /help for available commands.",
        "additionalFields": {}
      },
      "id": "c9baa50e-ec8d-4f03-a683-09cfb72b6d0d",
      "name": "Send Fallback",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        912,
        1488
      ],
      "webhookId": "e995bdd7-c306-4881-9212-f2faf47f04f7",
      "credentials": {
        "telegramApi": {
          "id": "ihPWnYRp34xU7q2q",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Prepare Material Data').first().json.chatId }}",
        "text": "=Learning material saved: {{ $('Prepare Material Data').first().json.title }}\n\nDifficulty: {{ $('Prepare Material Data').first().json.difficulty }}\n\nSummary:\n{{ $('Prepare Material Data').first().json.summary }}\n\nKey points:\n{{ $('Prepare Material Data').first().json.keyPointsText }}\n\nMain concepts:\n{{ $('Prepare Material Data').first().json.conceptsText }}\n",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Start quiz",
                    "additionalFields": {
                      "callback_data": "=topic:{{ $('Prepare Material Data').first().json.materialId }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2592,
        592
      ],
      "id": "b849b955-d6ef-4979-80c4-71d708238c5a",
      "name": "Send Summary with Quiz Button",
      "webhookId": "65b2c869-708b-4f77-a1ac-efff69962013",
      "credentials": {
        "telegramApi": {
          "id": "ihPWnYRp34xU7q2q",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "OucbL9ApEovEdnow",
          "mode": "list",
          "cachedResultName": "learning_materials",
          "cachedResultUrl": "/projects/ctLX77vBblhMtYP5/datatables/OucbL9ApEovEdnow"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "userId",
              "keyValue": "={{ $json.userId }}"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        944,
        832
      ],
      "id": "920a392b-793f-46db-857e-ec07ca283bd3",
      "name": "Load User Materials"
    },
    {
      "parameters": {
        "jsCode": "const materials = $input.all().map(item => item.json);\n\nconst original = $('Normalize Telegram Update').first().json;\n\nif (!materials.length) {\n  return [\n    {\n      json: {\n        chatId: original.chatId,\n        hasMaterials: false,\n        text: 'No saved materials yet. Send /learn <url> first.',\n      },\n    },\n  ];\n}\n\nconst rows = materials.map(material => {\n  const title = material.title || material.url || material.materialId;\n  return [\n    {\n      text: title.slice(0, 64),\n      callback_data: `topic:${material.materialId}`,\n    },\n  ];\n});\n\nreturn [\n  {\n    json: {\n      chatId: original.chatId,\n      hasMaterials: true,\n      text: 'Choose a saved topic:',\n      replyMarkup: {\n        inline_keyboard: rows,\n      },\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        832
      ],
      "id": "f87fb421-5547-4009-99dd-2263adaffcb1",
      "name": "Build Material Buttons"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.text }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "={{ $json.replyMarkup.inline_keyboard[0][0].text }}",
                    "additionalFields": {
                      "callback_data": "={{ $json.replyMarkup.inline_keyboard[0][0].callback_data }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1392,
        832
      ],
      "id": "b4aac2a6-4ed6-483c-a8dc-6662cf6b3375",
      "name": "Send Materials List",
      "webhookId": "82a10bd7-560f-455b-815b-1755b54002c9",
      "credentials": {
        "telegramApi": {
          "id": "ihPWnYRp34xU7q2q",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const update = $('Normalize Telegram Update').first().json;\n\nconst callbackData = update.callbackData || '';\n\nif (!callbackData.startsWith('topic:')) {\n  throw new Error(`Expected topic callback data, got: ${callbackData}`);\n}\n\nreturn [\n  {\n    json: {\n      materialId: callbackData.replace(/^topic:/, ''),\n      userId: update.userId,\n      chatId: update.chatId,\n      callbackQueryId: update.callbackQueryId,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        992
      ],
      "id": "a37a80f2-6efe-4655-9d71-9bd2b72c3010",
      "name": "Extract Material ID"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "OucbL9ApEovEdnow",
          "mode": "list",
          "cachedResultName": "learning_materials",
          "cachedResultUrl": "/projects/ctLX77vBblhMtYP5/datatables/OucbL9ApEovEdnow"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "materialId",
              "keyValue": "={{ $json.materialId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1168,
        992
      ],
      "id": "3d264316-5623-4c4c-84b2-cec624480ce9",
      "name": "Load Material"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\nif (!item || !item.json) {\n  throw new Error('Parse Quiz JSON received no input item');\n}\n\nlet raw =\n  item.json.output ??\n  item.json.text ??\n  item.json.response ??\n  item.json.result ??\n  item.json.content ??\n  item.json;\n\nif (typeof raw !== 'string') {\n  raw = JSON.stringify(raw);\n}\n\nraw = raw\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/```$/i, '')\n  .trim();\n\nconst firstBrace = raw.indexOf('{');\nconst lastBrace = raw.lastIndexOf('}');\n\nif (firstBrace === -1 || lastBrace === -1) {\n  throw new Error(`Examiner output did not contain JSON: ${raw.slice(0, 500)}`);\n}\n\nconst parsed = JSON.parse(raw.slice(firstBrace, lastBrace + 1));\n\nif (!Array.isArray(parsed.questions)) {\n  throw new Error('Examiner output missing questions array');\n}\n\nif (parsed.questions.length !== 5) {\n  throw new Error(`Expected 5 questions, got ${parsed.questions.length}`);\n}\n\nconst allowed = ['A', 'B', 'C', 'D'];\n\nconst questions = parsed.questions.map((question, index) => {\n  if (!question.question) {\n    throw new Error(`Question ${index + 1} missing question text`);\n  }\n\n  if (!Array.isArray(question.options) || question.options.length !== 4) {\n    throw new Error(`Question ${index + 1} must have exactly 4 options`);\n  }\n\n  const options = allowed.map(key => {\n    const found = question.options.find(option => option.key === key);\n    if (!found || !found.text) {\n      throw new Error(`Question ${index + 1} missing option ${key}`);\n    }\n    return { key, text: found.text };\n  });\n\n  if (!allowed.includes(question.correctAnswer)) {\n    throw new Error(`Question ${index + 1} has invalid correctAnswer`);\n  }\n\n  return {\n    id: question.id || `Q${index + 1}`,\n    question: question.question,\n    options,\n    correctAnswer: question.correctAnswer,\n    explanation: question.explanation || '',\n  };\n});\n\nconst material = $('Load Material').first().json;\nconst callback = $('Extract Material ID').first().json;\n\nreturn [\n  {\n    json: {\n      materialId: callback.materialId,\n      userId: callback.userId,\n      chatId: callback.chatId,\n      title: material.title,\n      questions,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        992
      ],
      "id": "8b70f9e3-b2d4-4c3d-a38f-499873b25ee1",
      "name": "Parse Quiz JSON"
    },
    {
      "parameters": {
        "messages": {
          "messageValues": []
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1584,
        992
      ],
      "id": "948dffd9-0dbd-4410-8f17-5663b9a52ab2",
      "name": "Examiner Agent - Generate Quiz"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1616,
        1152
      ],
      "id": "7228753b-2a09-4792-9c77-39b504cec8ad",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\n\nif (!input || !input.json) {\n  throw new Error('Prepare Quiz Attempt received no input item');\n}\n\nconst data = input.json;\nconst attemptId = `QA-${Date.now()}`;\n\nreturn [\n  {\n    json: {\n      attemptId,\n      materialId: data.materialId,\n      userId: data.userId,\n      chatId: data.chatId,\n      questionsJson: JSON.stringify(data.questions),\n      answersJson: '[]',\n      currentIndex: 0,\n      status: 'in_progress',\n      score: 0,\n      questions: data.questions,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2144,
        992
      ],
      "id": "9232af04-d6e9-40c0-a2d2-7907376d849c",
      "name": "Prepare Quiz Attempt"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "kqjIwLkPw8rc2gO9",
          "mode": "list",
          "cachedResultName": "quiz_attempts",
          "cachedResultUrl": "/projects/ctLX77vBblhMtYP5/datatables/kqjIwLkPw8rc2gO9"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "attemptId": "={{ $json.attemptId }}",
            "materialId": "={{ $json.materialId }}",
            "userId": "={{ $json.userId }}",
            "chatId": "={{ $json.chatId }}",
            "questionsJson": "={{ $json.questionsJson }}",
            "answersJson": "={{ $json.answersJson }}",
            "status": "={{ $json.status }}",
            "currentIndex": "={{ $json.currentIndex }}",
            "score": "={{ $json.score }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "attemptId",
              "displayName": "attemptId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "materialId",
              "displayName": "materialId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "chatId",
              "displayName": "chatId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "questionsJson",
              "displayName": "questionsJson",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "answersJson",
              "displayName": "answersJson",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "currentIndex",
              "displayName": "currentIndex",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2352,
        992
      ],
      "id": "46cbcd51-565b-4a20-9ad6-a1d1449d42c9",
      "name": "Save Quiz Attempt"
    },
    {
      "parameters": {
        "jsCode": "const attempt = $('Prepare Quiz Attempt').first().json;\nconst question = attempt.questions[0];\n\nconst optionLines = question.options\n  .map(option => `${option.key}. ${option.text}`)\n  .join('\\n');\n\nreturn [\n  {\n    json: {\n      chatId: attempt.chatId,\n      text: `Question 1 of 5:\\n${question.question}\\n\\n${optionLines}`,\n      replyMarkup: {\n        inline_keyboard: [\n          question.options.map(option => ({\n            text: option.key,\n            callback_data: `answer:${attempt.attemptId}:0:${option.key}`,\n          })),\n        ],\n      },\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        992
      ],
      "id": "f2a14e94-05a8-4e6a-8636-7e035fbe12c7",
      "name": "Build Question Message"
    },
    {
      "parameters": {
        "jsCode": "const material = $input.first().json;\nconst callback = $('Extract Material ID').first().json;\n\nconst prompt = `You are the Examiner role in BrAIny Buddy, an AI learning assistant.\n\nCreate a five-question multiple-choice quiz from the provided learning material.\nReturn only raw valid JSON.\nDo not use Markdown.\nDo not wrap JSON in code fences.\nDo not include commentary before or after the JSON.\n\nLearning material:\nTitle: ${material.title}\nSummary: ${material.summary}\nKey points JSON: ${material.keyPointsJson}\nConcepts JSON: ${material.conceptsJson}\nContent:\n${String(material.content || '').slice(0, 12000)}\n\nReturn exactly this JSON shape:\n{\n  \"questions\": [\n    {\n      \"id\": \"Q1\",\n      \"question\": \"string\",\n      \"options\": [\n        {\"key\": \"A\", \"text\": \"string\"},\n        {\"key\": \"B\", \"text\": \"string\"},\n        {\"key\": \"C\", \"text\": \"string\"},\n        {\"key\": \"D\", \"text\": \"string\"}\n      ],\n      \"correctAnswer\": \"A\",\n      \"explanation\": \"string\"\n    }\n  ]\n}\n\nRules:\n- Generate exactly five questions.\n- Questions must be specific to this material.\n- Each question must have exactly four options: A, B, C, D.\n- correctAnswer must be A, B, C, or D.\n- explanation must help the learner understand the answer.`;\n\nreturn [\n  {\n    json: {\n      ...material,\n      materialId: callback.materialId,\n      userId: callback.userId,\n      chatId: callback.chatId,\n      callbackQueryId: callback.callbackQueryId,\n      chatInput: prompt,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        992
      ],
      "id": "7a19b2e6-62ca-4845-b80f-0034a773f705",
      "name": "Prepare Examiner Prompt"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.text }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "={{ $json.replyMarkup.inline_keyboard[0][0].text }}",
                    "additionalFields": {
                      "callback_data": "={{ $json.replyMarkup.inline_keyboard[0][0].callback_data }}"
                    }
                  },
                  {
                    "text": "={{ $json.replyMarkup.inline_keyboard[0][1].text }}",
                    "additionalFields": {
                      "callback_data": "={{ $json.replyMarkup.inline_keyboard[0][1].callback_data }}"
                    }
                  },
                  {
                    "text": "={{ $json.replyMarkup.inline_keyboard[0][2].text }}",
                    "additionalFields": {
                      "callback_data": "={{ $json.replyMarkup.inline_keyboard[0][2].callback_data }}"
                    }
                  },
                  {
                    "text": "={{ $json.replyMarkup.inline_keyboard[0][3].text }}",
                    "additionalFields": {
                      "callback_data": "={{ $json.replyMarkup.inline_keyboard[0][3].callback_data }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2768,
        992
      ],
      "id": "6096ba44-c1a7-466c-bcc2-ef249ae6416e",
      "name": "Send Quiz Question",
      "webhookId": "82a10bd7-560f-455b-815b-1755b54002c9",
      "credentials": {
        "telegramApi": {
          "id": "ihPWnYRp34xU7q2q",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const update = $('Normalize Telegram Update').first().json;\n\nconst callbackData = update.callbackData || '';\n\nif (!callbackData.startsWith('answer:')) {\n  throw new Error(`Expected answer callback data, got: ${callbackData}`);\n}\n\nconst parts = callbackData.split(':');\n\nif (parts.length !== 4) {\n  throw new Error(`Invalid answer callback format: ${callbackData}`);\n}\n\nconst [, attemptId, questionIndexRaw, selectedOption] = parts;\nconst questionIndex = Number(questionIndexRaw);\n\nif (!Number.isInteger(questionIndex)) {\n  throw new Error(`Invalid question index: ${questionIndexRaw}`);\n}\n\nif (!['A', 'B', 'C', 'D'].includes(selectedOption)) {\n  throw new Error(`Invalid selected option: ${selectedOption}`);\n}\n\nreturn [\n  {\n    json: {\n      attemptId,\n      questionIndex,\n      selectedOption,\n      userId: update.userId,\n      chatId: update.chatId,\n      callbackQueryId: update.callbackQueryId,\n      answeredAt: new Date().toISOString(),\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        1296
      ],
      "id": "85b9e5dd-ab1b-4e88-97a5-b90dc0f6d41a",
      "name": "Parse Answer Callback"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "kqjIwLkPw8rc2gO9",
          "mode": "list",
          "cachedResultName": "quiz_attempts",
          "cachedResultUrl": "/projects/ctLX77vBblhMtYP5/datatables/kqjIwLkPw8rc2gO9"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "attemptId",
              "keyValue": "={{ $json.attemptId }}"
            },
            {
              "keyName": "userId",
              "keyValue": "={{ $json.userId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1168,
        1296
      ],
      "id": "22f335c9-cf3d-4d61-a186-5c87c2ff343b",
      "name": "Load Quiz Attempt"
    },
    {
      "parameters": {
        "jsCode": "const answer = $('Parse Answer Callback').first().json;\nconst attempt = $input.first().json;\n\nconst questions = JSON.parse(attempt.questionsJson || '[]');\nlet answers = JSON.parse(attempt.answersJson || '[]');\n\nif (!questions.length) {\n  throw new Error('Quiz attempt has no questions');\n}\n\nconst question = questions[answer.questionIndex];\n\nif (!question) {\n  throw new Error(`Question index not found: ${answer.questionIndex}`);\n}\n\nanswers = answers.filter(existing => existing.questionIndex !== answer.questionIndex);\nanswers.push({\n  questionIndex: answer.questionIndex,\n  selectedOption: answer.selectedOption,\n  answeredAt: answer.answeredAt,\n});\nanswers.sort((a, b) => a.questionIndex - b.questionIndex);\n\nconst isComplete = answers.length >= questions.length;\nconst nextIndex = answer.questionIndex + 1;\n\nif (isComplete) {\n  const correctCount = answers.reduce((count, item) => {\n    const q = questions[item.questionIndex];\n    return count + (q && item.selectedOption === q.correctAnswer ? 1 : 0);\n  }, 0);\n\n  const score = Math.round((correctCount / questions.length) * 100);\n\n  const feedback = questions.map((q, index) => {\n    const item = answers.find(a => a.questionIndex === index);\n    const selected = item ? item.selectedOption : 'No answer';\n    const isCorrect = selected === q.correctAnswer;\n\n    let line = `${index + 1}. ${isCorrect ? 'Correct' : 'Incorrect'} — selected ${selected}, correct ${q.correctAnswer}`;\n\n    if (!isCorrect && q.explanation) {\n      line += `\\nExplanation: ${q.explanation}`;\n    }\n\n    return line;\n  }).join('\\n\\n');\n\n  return [\n    {\n      json: {\n        attemptId: answer.attemptId,\n        userId: answer.userId,\n        chatId: answer.chatId,\n        answersJson: JSON.stringify(answers),\n        currentIndex: questions.length,\n        status: 'completed',\n        score,\n        isComplete: true,\n        text: `Quiz complete!\\n\\nScore: ${score}% (${correctCount}/${questions.length})\\n\\n${feedback}`,\n      },\n    },\n  ];\n}\n\nconst nextQuestion = questions[nextIndex];\nconst optionLines = nextQuestion.options\n  .map(option => `${option.key}. ${option.text}`)\n  .join('\\n');\n\nconst callbacks = Object.fromEntries(\n  nextQuestion.options.map(option => [\n    option.key,\n    `answer:${answer.attemptId}:${nextIndex}:${option.key}`,\n  ])\n);\n\nreturn [\n  {\n    json: {\n      attemptId: answer.attemptId,\n      userId: answer.userId,\n      chatId: answer.chatId,\n      answersJson: JSON.stringify(answers),\n      currentIndex: nextIndex,\n      status: 'in_progress',\n      score: 0,\n      isComplete: false,\n      text: `Question ${nextIndex + 1} of ${questions.length}:\\n${nextQuestion.question}\\n\\n${optionLines}`,\n\n      buttonAText: 'A',\n      buttonACallback: callbacks.A,\n      buttonBText: 'B',\n      buttonBCallback: callbacks.B,\n      buttonCText: 'C',\n      buttonCCallback: callbacks.C,\n      buttonDText: 'D',\n      buttonDCallback: callbacks.D,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        1296
      ],
      "id": "21d996b3-5708-4eee-a2a4-bef43ab52c5f",
      "name": "Process Answer"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "kqjIwLkPw8rc2gO9",
          "mode": "list",
          "cachedResultName": "quiz_attempts",
          "cachedResultUrl": "/projects/ctLX77vBblhMtYP5/datatables/kqjIwLkPw8rc2gO9"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "attemptId",
              "keyValue": "={{ $json.attemptId }}"
            },
            {
              "keyName": "userId",
              "keyValue": "={{ $json.userId }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "answersJson": "={{ $json.answersJson }}",
            "currentIndex": "={{ $json.currentIndex }}",
            "status": "={{ $json.status }}",
            "score": "={{ $json.score }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "attemptId",
              "displayName": "attemptId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "materialId",
              "displayName": "materialId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "chatId",
              "displayName": "chatId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "questionsJson",
              "displayName": "questionsJson",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "answersJson",
              "displayName": "answersJson",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "currentIndex",
              "displayName": "currentIndex",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1584,
        1296
      ],
      "id": "07a2d07c-979e-4439-97c6-86e34f404db9",
      "name": "Update Quiz Attempt"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "68ee87a6-3811-47d8-b850-86fc4312b57e",
              "leftValue": "={{ $('Process Answer').first().json.isComplete }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1792,
        1296
      ],
      "id": "4f50ea40-2367-4380-b3b1-c0f4030e925b",
      "name": "Is Quiz Complete?"
    },
    {
      "parameters": {
        "chatId": "={{ $('Process Answer').first().json.chatId }}",
        "text": "={{ $('Process Answer').first().json.text }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "=A",
                    "additionalFields": {
                      "callback_data": "={{ $('Process Answer').first().json.buttonACallback }}"
                    }
                  },
                  {
                    "text": "B",
                    "additionalFields": {
                      "callback_data": "={{ $('Process Answer').first().json.buttonBCallback }}"
                    }
                  },
                  {
                    "text": "C",
                    "additionalFields": {
                      "callback_data": "={{ $('Process Answer').first().json.buttonCCallback }}"
                    }
                  },
                  {
                    "text": "D",
                    "additionalFields": {
                      "callback_data": "={{ $('Process Answer').first().json.buttonDCallback }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2000,
        1408
      ],
      "id": "4f728612-39a8-48a2-bea7-3b0cf4018095",
      "name": "Send Next Quiz Question",
      "webhookId": "6bde7740-d759-4f8e-bb42-2de52b85123b",
      "credentials": {
        "telegramApi": {
          "id": "ihPWnYRp34xU7q2q",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Process Answer').first().json.chatId }}",
        "text": "={{ $('Process Answer').first().json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2000,
        1200
      ],
      "id": "298eb2f0-bee2-4742-91a4-7792dcdfc425",
      "name": "Send Quiz Results",
      "webhookId": "e0d6e850-5824-4766-baa4-fe66de98f333",
      "credentials": {
        "telegramApi": {
          "id": "ihPWnYRp34xU7q2q",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normalize Telegram Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Telegram Update": {
      "main": [
        [
          {
            "node": "Command Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Command Router": {
      "main": [
        [
          {
            "node": "Send Welcome",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Welcome",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Learn Usage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load User Materials",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Material ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Answer Callback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract URL": {
      "main": [
        [
          {
            "node": "Fetch URL Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch URL Content": {
      "main": [
        [
          {
            "node": "Clean HTML Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean HTML Content": {
      "main": [
        [
          {
            "node": "Teacher Agent - Summarize Material",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Teacher Agent - Summarize Material": {
      "main": [
        [
          {
            "node": "Parse Teacher JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "Teacher Agent - Summarize Material",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse Teacher JSON": {
      "main": [
        [
          {
            "node": "Prepare Material Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Material Data": {
      "main": [
        [
          {
            "node": "Save to learning_materials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to learning_materials": {
      "main": [
        [
          {
            "node": "Send Summary with Quiz Button",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load User Materials": {
      "main": [
        [
          {
            "node": "Build Material Buttons",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Material Buttons": {
      "main": [
        [
          {
            "node": "Send Materials List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Material ID": {
      "main": [
        [
          {
            "node": "Load Material",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Material": {
      "main": [
        [
          {
            "node": "Prepare Examiner Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Examiner Agent - Generate Quiz": {
      "main": [
        [
          {
            "node": "Parse Quiz JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Examiner Agent - Generate Quiz",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse Quiz JSON": {
      "main": [
        [
          {
            "node": "Prepare Quiz Attempt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Quiz Attempt": {
      "main": [
        [
          {
            "node": "Save Quiz Attempt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Quiz Attempt": {
      "main": [
        [
          {
            "node": "Build Question Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Question Message": {
      "main": [
        [
          {
            "node": "Send Quiz Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Examiner Prompt": {
      "main": [
        [
          {
            "node": "Examiner Agent - Generate Quiz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Answer Callback": {
      "main": [
        [
          {
            "node": "Load Quiz Attempt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Quiz Attempt": {
      "main": [
        [
          {
            "node": "Process Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Answer": {
      "main": [
        [
          {
            "node": "Update Quiz Attempt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Quiz Attempt": {
      "main": [
        [
          {
            "node": "Is Quiz Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Quiz Complete?": {
      "main": [
        [
          {
            "node": "Send Quiz Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Next Quiz Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1212a4db-90e7-477b-8008-b2736c67a422",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3e53940abcdba50b1f84058a3847b8de80ea98470135f44e0abbfc1001b585c4"
  },
  "id": "aHzul37HcbD3lHi3",
  "tags": []
}